body{
    margin: 0%;
}
/* header section */
.header-title{
    text-align: center;
    color: #0d6efd;
    margin-top: 15px;
}
.img-icon{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
/* main section */
.img-money{
    height: 100%;
}
.calculate-section{
    text-align: center;
    background-color: #F8F8F8;
}
.input-field{
    background-color: #DCDCDC;
    border: 0;
    padding: 3px 5px;
}
#save-money{
    margin: 0px 20px;
    width: 90px;
}
#save-button{
    margin-left: 20px;
}
.error-handling{
    display: none;
}
#error-number{
    text-align: center;
    font-size: 25px;
    color: red;
}